---
layout: layout
featured:
  - /themes/simple
  - /plugins/wp-bell
  - /themes/writer
  - /themes/wp-compass
  - /plugins/wp-procount
  - /plugins/wp-countie
---

<main class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>We Build Beautiful <br /> Plugins &amp; Themes.</h3>
    </div>
  </div>
</main>

<section class="section">
  <div class="container">
    <div class="row">
      {% assign items = "" | split: "" %}
      {% for theme in site.themes %}
          {% if page.featured contains theme.url %}
            {% assign items = items | push: theme %}
          {% endif %}
      {% endfor %}

      {% for plugin in site.plugins %}
          {% if page.featured contains plugin.url %}
            {% assign items = items | push: plugin %}
          {% endif %}
      {% endfor %}

      {% assign sorted_items = items | sort: 'date' %}
      {% for theme in sorted_items reversed %}
        {% include thumbnail.html %}
      {% endfor %}
    </div>
  </div>
</section>
