<header class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-xs-center">
      <h1><a href="/">ThemeWizz</a></h1>
    </div>
    <div class="col-xs-12 col-sm-6 text-right text-xs-center">
      <ul>
        <li><a href="/themes">Themes</a></li>
        <li><a href="/plugins">Plugins</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="https://releases.themewizz.com" target="_blank">Releases</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</header>
