---
layout: layout
---

<main class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>{{ page.title }}</h3>
    </div>
    <div class="col-xs-12 col-md-6 text-right text-xs-center">
      {% if page.demo %}
        <a href="{{ page.demo }}" target="_blank" class="btn btn-lg btn-default">Demo</a>
      {% endif; %}

      {% if page.price %}
        <a href="{{ page.buy }}" target="_blank" class="btn btn-lg btn-action"><span>${{ page.price }}</span> Buy</a>
      {% endif; %}

      {% if page.free %}
        <a href="{{ page.download }}" target="_blank" class="btn btn-lg btn-action"><span>Free</span> Download</a>
      {% endif; %}
    </div>
  </div>
</main>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 content">
        {{ content }}
        <div class="well well-dark well-feature">
          <h4>Features</h4>
          <ul class="list-unstyled">
            {% for feature in page.features  %}
              <li><i class="fa fa-check text-success"></i> {{ feature }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="preview-container">
          <div class="browser">
            <div class="browser-image">
              <img src="/assets/img/themes/{{ page.slug }}/full.png" alt="{{ page.title }}" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


